<html>

<head>
  <link rel="stylesheet" href="css.css">
  <script
			  src="https://code.jquery.com/jquery-3.4.1.js"
			  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
			  crossorigin="anonymous"></script>

  <script type="text/javascript" src="ajax.js"></script> 
</head>

<body>
 

  <div id="divIns">
    <div>Inserire il titolo del memo:</div>
    <input type="text" placeholder="titolo" id="titleAddMemo" class="divTesto"></input>
    <div>Inserire il testo del memo:</div>
    <input type="text" placeholder="testo" id="textAddMemo" class="divTesto"></input>
    <div id="divPreference">Preference</div>
    <select name="preference" id="preference"> 
      <option value="true">true</option>
      <option value="false">false</option>
    </select>
  <div id="divTag">
    <div>Inserire il tag del memo:</div>
    <input type="text" placeholder="tag" id="tagMemo" class="tagMemo"></input>
  </div>
    <div>
      <button id="btnAddMemo" class="btnAM" onclick="addMemo()">Aggiungi</button>
    </div>
  </div>
</body>

</html>