#divIns{
    padding-top:10px;
    position:relative;
    width:100%;
    height:200px;
    background-color: black;
    color: white;
    text-align: center;
    border-style: double;
    float: left;
}
#btnAddMemo{
    margin-top:10px;
    background-color: green;
    border: green;
    color: white;
    height: 30px;
}
#titolo {
    background-color: rgb(54, 211, 22);
    text-align: center;
    font-size: 30px;
    width: 500px;
    margin-left: 500px;
}
body {
    background-color: rgb(25, 210, 216);
}

#form {
    margin-left: 500px;
    border: 3px solid rgb(41, 10, 221);
    width: max-content;
    margin-top: 20px;
 }

#test {
    background-color: rgb(206, 236, 35);
    width: 200px;
    height: 200px;
    text-align: center;
    margin-top: 5px;
    border: 3px solid rgb(212, 7, 7);
    float: left;
    margin-left: 80px;
}

#aggiornaCancella {
    margin-top: 10%;
  }
.divMemo{
    background-image: url(memo.png);
    background-repeat: repeat-y;
    background-position: center; 
    background-size: contain;
    background-color: white;
    padding-top:30px;
    float: right;
    width: 100%;
    height: 150px;
    text-align:center ;
    border-style: dashed;
    margin-top:5px;
}